@charset 'UTF-8';

html * {
  outline: 0;

  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 240px) and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
}

body {
  line-height: 1.5;

  margin: 0;
  padding: 0;

  background-color: #f6f8ff;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0 0 20px 0;
  padding: 0;

  text-align: center;
}

figcaption {
  font-size: .8rem;

  display: block;

  text-align: center;
}

.list-title {
  font-weight: 100;

  position: relative;

  display: flex;
  justify-content: flex-start;

  width: 100%;
  margin: 0;
  padding: 10px 20px;

  color: #f5f8fe;
  border-bottom-left-radius: 20px;
  background-color: #263959;
}

.list-title a {
  color: white;
}

.list-title a:hover {
  color: #89c6af;
}

.img-round,
.avatar,
.avatar-xsmall,
.avatar-small,
.avatar-medium,
.avatar-large,
.avatar-xlarge {
  max-width: 100%;

  border-radius: 50%;

  object-fit: cover;
}

.forum-list {
  margin: 20px 0;
  padding: 0;

  background: white;
}

.forum-list .forum-listing {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 20px 10px 20px 30px;
}

.forum-list .forum-listing:nth-child(odd) {
  border-bottom-left-radius: 20px;
  background: rgba(73, 89, 96, .06);
}

.forum-list .forum-listing:last-child {
  border-bottom-left-radius: 0;
}

.forum-list .forum-listing .forum-details {
  flex-basis: 52%;
}

@media (min-width: 240px) and (max-width: 720px) {
  .forum-list .forum-listing .forum-details {
    flex-basis: 100%;
  }
}

.forum-list .forum-listing .forum-details ul.subforums {
  display: block;

  padding-left: 5px;
}

.forum-list .forum-listing .forum-details ul.subforums::before {
  margin-right: 5px;

  content: '⌙';
}

.forum-list .forum-listing .forum-details ul.subforums.subforums li {
  display: inline;
}

.forum-list .forum-listing .forum-details ul.subforums.subforums li:not(:last-of-type)::after {
  font-family: 'FontAwesome';
  font-size: 4px;

  position: relative;
  top: -3px;
  left: 2px;

  padding: 0 3px;

  content: '\f111';

  color: #878787;
}

.forum-list .forum-listing .threads-count {
  flex-basis: 12%;

  text-align: center;
}

.forum-list .forum-listing .threads-count .count {
  font-weight: 100;

  display: block;
}

.forum-list .forum-listing .last-thread {
  display: flex;
  align-items: center;
  flex-basis: 32%;
  justify-content: flex-start;
}

.forum-list .forum-listing .last-thread .avatar {
  margin-right: 10px;
}

.forum-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.forum-stats ul {
  font-size: 0;

  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.forum-stats ul li {
  font-weight: 100;

  display: flex;
  align-items: center;

  margin: 0 20px;
}

.forum-stats ul li .fa {
  margin-right: 5px;
}

.forum-stats ul li .fa-comments-o {
  font-size: 26px;
}

.thread-list {
  padding: 0;

  background-color: white;
}

.thread-list .thread {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 45px;
  padding: 5px 0 5px 20px;
}

.thread-list .thread:nth-child(odd) {
  border-bottom-left-radius: 20px;
  background: rgba(73, 89, 96, .06);
}

.thread-list .thread:last-child {
  border-bottom-left-radius: 0;
}

.thread-list .thread .replies-count {
  flex-basis: 35%;
}

.thread-list .thread .activity {
  display: flex;
  align-items: center;
  flex-basis: 35%;
  justify-content: flex-start;
}

.thread-list .thread .activity .avatar-medium {
  margin-right: 10px;
}

.thread-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reactions {
  position: relative;

  display: flex;
  flex: 100%;
  justify-content: flex-end;
}

.reactions button {
  display: flex;
  align-items: center;

  margin-left: 2px;
  padding: 5px 8px;

  color: #545454;
  border-radius: 5px;
}

.reactions button:hover {
  color: #545454 !important;
  background: rgba(115, 192, 151, .25) !important;
}

.reactions button.active-reaction {
  background: rgba(115, 192, 151, .12);
}

.reactions button.active-reaction:hover {
  background: white !important;
}

.reactions button .emoji {
  font-size: 18px;

  margin-right: 3px;
}

.reactions button.add-reaction .emoji {
  margin-right: 0;
  margin-left: 3px;
}

.reactions ul {
  position: absolute;
  top: -45px;

  display: flex;
  justify-content: flex-end;

  background-color: white !important;
}

.reactions ul li {
  font-size: 28px;

  display: flex;
  align-items: center;

  padding: 0 5px;

  opacity: .7;
}

.reactions ul li:hover {
  cursor: pointer;

  opacity: 1;
  border-radius: 5px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 40px;
  margin-bottom: 40px;

  color: #838486;
}

.pagination button {
  font-size: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 35px;
  margin: 0 15px;
  padding: 0;

  background: #95cbb7;
}

.pagination button:hover {
  background: #57ad8d;
}

.pagination button:disabled {
  cursor: not-allowed;
}

.pagination button:disabled:hover {
  background: #95cbb7;
}

.pagination button:disabled:active {
  transform: translate3d(0, 0, 0);
  animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;

  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.post-list {
  margin-top: 20px;
}

.post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 20px;
  padding: 20px 10px;
  padding-bottom: 7px;

  background-color: white;
  box-shadow: 2px 2px 1px rgba(136, 136, 136, .09);
}

@media (max-width: 820px) {
  .post {
    padding: 0;
  }
}

.post .user-info {
  display: flex;
  align-items: center;
  flex: 1 1 15%;
  flex-direction: column;
  justify-content: flex-start;

  margin-right: 5px;

  text-align: center;
}

.post .user-info > * {
  margin-bottom: 10px;
}

@media (max-width: 820px) {
  .post .user-info {
    flex-direction: row;
    justify-content: flex-start;
    order: -2;

    margin-right: 0;
    padding: 5px;
    padding-left: 10px;

    background: rgba(73, 89, 96, .06);
  }

  .post .user-info .avatar-large {
    order: 1;

    width: 35px;
    height: 35px;
    margin-right: 5px;
  }

  .post .user-info .user-name {
    order: 2;
  }

  .post .user-info > * {
    margin-right: 5px;
    margin-bottom: 0;
  }
}

.post .post-date {
  font-size: 14px;

  flex-basis: 100%;

  margin-bottom: 5px;
  padding-right: 7px;

  text-align: right;
}

@media (max-width: 820px) {
  .post .post-date {
    flex-basis: 40%;
    order: -1;

    margin-bottom: 0;
    padding-top: 16px;
    padding-right: 10px;

    background: rgba(73, 89, 96, .06);
  }
}

@media (max-width: 720px) {
  .post {
    padding: 0;
  }
}

.post-content {
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  flex: 1 0 83%;

  padding-right: 10px;
  padding-left: 15px;

  text-align: justify;
  word-break: break-word;
}

.post-content h1,
.post-content h2,
.post-content h3 {
  margin-bottom: 0;
}

.post-content p {
  margin-bottom: 20px;
}

.post-content pre {
  display: grid;
  overflow: auto;

  padding: 10px;

  word-wrap: break-word;

  border-radius: 3px;
}

.post-content blockquote {
  margin: 25px 0;
}

.post-content blockquote.big {
  position: relative;

  display: flex;
}

.post-content blockquote.big::before {
  font-family: FontAwesome;
  font-size: 42px;

  position: absolute;
  top: -25px;
  left: -25px;

  content: '\f10e';

  color: #263959;
}

@media (max-width: 820px) {
  .post-content blockquote.big::before {
    font-size: 32px;

    top: -15px;
    left: -18px;
  }
}

.post-content blockquote.big .quote {
  font-size: 17px;
  font-weight: 100;
  font-style: italic;

  flex-basis: 95%;

  padding-right: 15px;
  padding-left: 20px;
}

.post-content blockquote.big .author {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  text-align: center;
}

.post-content blockquote.big .author img {
  flex: 1;
  flex-basis: 100%;

  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.post-content blockquote.small {
  position: relative;

  display: flex;
  flex-direction: column;

  border: 2px solid rgba(152, 152, 152, .15);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.post-content blockquote.small::before {
  font-family: FontAwesome;
  font-size: 42px;

  position: absolute;
  top: -20px;
  left: -20px;

  content: '\f10e';

  color: #263959;
}

@media (max-width: 820px) {
  .post-content blockquote.small::before {
    font-size: 32px;

    top: -18px;
    left: -15px;
  }
}

.post-content blockquote.small .author {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  justify-content: center;

  padding: 3px 10px 3px 28px;

  background-color: rgba(152, 152, 152, .15);
}

.post-content blockquote.small .author .time {
  margin-left: 10px;
}

.post-content blockquote.small .author .fa {
  font-size: 20px;

  margin-left: auto;
}

.post-content blockquote.small .author .fa:hover {
  cursor: pointer;
}

.post-content blockquote.small .quote {
  font-size: 17px;
  font-weight: 100;
  font-style: italic;

  display: flex;
  flex-basis: 100%;
  flex-direction: column;

  padding: 10px;
}

.post-content blockquote.simple {
  font-size: 17px;
  font-weight: 100;
  font-style: italic;

  position: relative;

  padding: 0 10px 0 20px;

  letter-spacing: .15px;
}

.post-content blockquote.simple::before {
  font-family: FontAwesome;
  font-size: 42px;

  position: absolute;
  top: -25px;
  left: -25px;

  content: '\f10e';

  color: #263959;
}

@media (max-width: 820px) {
  .post-content blockquote.simple::before {
    font-size: 32px;

    top: -15px;
    left: -18px;
  }
}

.post-content blockquote.simple .author {
  font-weight: normal;

  display: block;

  margin-top: 10px;
}

.post-content blockquote.simple .author .time {
  margin-left: 10px;
}

.post-listing-editor {
  flex: 1 1 83%;
}

.profile-card {
  align-self: self-end;

  margin-bottom: 10px;
  padding: 10px 20px 20px 20px;

  background: white;
  box-shadow: 2px 2px 1px rgba(136, 136, 136, .09);
}

@media (min-width: 820px) {
  .profile-card {
    margin-right: 20px;
  }
}

.profile-card .title {
  word-break: break-all;
}

.profile-card .stats {
  display: flex;

  margin: 20px 0;
}

.profile-card .stats span {
  flex-basis: 50%;
}

.profile-card .user-website {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.profile-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  padding: 0 0;
}

@media (max-width: 720px) {
  .profile-header {
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .activity-list {
    padding: 0 10px;
  }
}

.activity-list .activity {
  margin-bottom: 20px;
  padding: 15px 10px;

  background-color: white;
  box-shadow: 2px 2px 1px rgba(136, 136, 136, .09);
}

@media (max-width: 720px) {
  .activity-list .activity {
    padding: 10px 15px;
  }

  .activity-list .activity .post-content {
    padding-left: 0;
  }
}

.activity-list .activity .activity-header {
  display: flex;
  align-items: flex-start;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin: 0;
}

.activity-list .activity .activity-header img {
  margin-top: 5px;
  margin-right: 10px;
}

.activity-list .activity .activity-header .title {
  flex-basis: 93%;

  margin: 0;
  padding: 0;
}

@media (max-width: 720px) {
  .activity-list .activity .activity-header .title {
    flex-basis: 100%;
  }
}

.activity-list .activity .activity-header .title span {
  font-weight: 100;

  display: block;
}

.activity-list .activity div.post-content {
  display: block;

  margin: 12px 0;
  padding-right: 10px;

  word-break: break-word;
}

.activity-list .activity div.post-content p {
  margin-bottom: 12px;
}

.activity-list .activity .thread-details {
  text-align: right;
}

.activity-list .activity .thread-details span:not(:last-of-type) {
  margin-right: 20px;
}

textarea#user_bio {
  resize: vertical;
}

span.offline::before {
  font-family: FontAwesome;
  font-size: 14px;

  margin-right: 5px;

  content: '\f1db';
}

span.online {
  color: #57ad8d;
}

span.online::before {
  font-family: FontAwesome;
  font-size: 14px;

  margin-right: 5px;

  content: '\f2be';
}

.svg-logo {
  width: 56px;
  height: 62px;
}

@media (min-width: 240px) and (max-width: 720px) {
  .svg-logo {
    width: 40px;
    height: 45px;
  }
}

@media (min-width: 240px) and (max-width: 400px) {
  .svg-logo {
    width: 35px;
    height: 40px;
  }
}

.wrap-right {
  float: right;

  padding: 10px 10px;
}

@media (min-width: 240px) and (max-width: 720px) {
  .wrap-right {
    padding: 16px 0;
  }
}

.text-faded,
.forum-stats ul li,
.thread-list .thread .created_at,
.post-content blockquote.big .author span.time,
.post-content blockquote.small .author .time,
.post-content blockquote.simple .author,
.activity-list .activity .activity-header .title span,
.activity-list .activity .thread-details,
span.offline {
  color: rgba(84, 84, 84, .7);
}

h1 {
  font-size: 32px;
}

@media (min-width: 240px) and (max-width: 720px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-size: 28px;
}

@media (min-width: 240px) and (max-width: 720px) {
  h2 {
    font-size: 20px;
  }
}

.text-lead,
.forum-list .forum-listing .threads-count .count,
.profile-card .stats span,
.modal-container .modal .modal-header .title {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.5;
}

@media (min-width: 240px) and (max-width: 720px) {
  .text-lead,
  .forum-list .forum-listing .threads-count .count,
  .profile-card .stats span,
  .modal-container .modal .modal-header .title {
    font-size: 22px;
  }
}

.text,
p,
.text-xsmall,
.thread-list .thread .created_at,
.pagination,
.post-content blockquote.small .author .time,
.post-content blockquote.simple .author .time,
.activity-list .activity .thread-details,
span.offline,
span.online,
.btn-xsmall,
.btn-brown,
ul.breadcrumbs li:not(:last-of-type)::after,
.text-small,
.forum-list .forum-listing .forum-details ul.subforums,
.post-content blockquote.big .author,
.post-content blockquote.small .author a,
.post-content blockquote.simple .author,
.activity-list .activity .activity-header .title span,
.btn-small,
ul.breadcrumbs li,
.text-large,
.list-title,
.forum-stats ul li,
.profile-card .user-website,
.activity-list .activity .activity-header .title,
.btn-large,
.text-xlarge,
.btn-xlarge,
.btn,
.btn-blue,
.btn-blue-outlined,
.btn-brown-outlined,
.btn-green,
.btn-green-outlined,
.btn-red,
.btn-red-outlined,
.btn-ghost {
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 240px) and (max-width: 720px) {
  .text,
  p,
  .text-xsmall,
  .thread-list .thread .created_at,
  .pagination,
  .post-content blockquote.small .author .time,
  .post-content blockquote.simple .author .time,
  .activity-list .activity .thread-details,
  span.offline,
  span.online,
  .btn-xsmall,
  .btn-brown,
  ul.breadcrumbs li:not(:last-of-type)::after,
  .text-small,
  .forum-list .forum-listing .forum-details ul.subforums,
  .post-content blockquote.big .author,
  .post-content blockquote.small .author a,
  .post-content blockquote.simple .author,
  .activity-list .activity .activity-header .title span,
  .btn-small,
  ul.breadcrumbs li,
  .text-large,
  .list-title,
  .forum-stats ul li,
  .profile-card .user-website,
  .activity-list .activity .activity-header .title,
  .btn-large,
  .text-xlarge,
  .btn-xlarge,
  .btn,
  .btn-blue,
  .btn-blue-outlined,
  .btn-brown-outlined,
  .btn-green,
  .btn-green-outlined,
  .btn-red,
  .btn-red-outlined,
  .btn-ghost {
    font-size: 15px;
  }
}

.text-xsmall,
.thread-list .thread .created_at,
.pagination,
.post-content blockquote.small .author .time,
.post-content blockquote.simple .author .time,
.activity-list .activity .thread-details,
span.offline,
span.online,
.btn-xsmall,
.btn-brown,
ul.breadcrumbs li:not(:last-of-type)::after {
  font-size: 13px;
}

@media (min-width: 240px) and (max-width: 720px) {
  .text-xsmall,
  .thread-list .thread .created_at,
  .pagination,
  .post-content blockquote.small .author .time,
  .post-content blockquote.simple .author .time,
  .activity-list .activity .thread-details,
  span.offline,
  span.online,
  .btn-xsmall,
  .btn-brown,
  ul.breadcrumbs li:not(:last-of-type)::after {
    font-size: 12px;
  }
}

.text-small,
.forum-list .forum-listing .forum-details ul.subforums,
.post-content blockquote.big .author,
.post-content blockquote.small .author a,
.post-content blockquote.simple .author,
.activity-list .activity .activity-header .title span,
.btn-small,
ul.breadcrumbs li {
  font-size: 15px;
}

@media (min-width: 240px) and (max-width: 720px) {
  .text-small,
  .forum-list .forum-listing .forum-details ul.subforums,
  .post-content blockquote.big .author,
  .post-content blockquote.small .author a,
  .post-content blockquote.simple .author,
  .activity-list .activity .activity-header .title span,
  .btn-small,
  ul.breadcrumbs li {
    font-size: 14px;
  }
}

.text-large,
.list-title,
.forum-stats ul li,
.profile-card .user-website,
.activity-list .activity .activity-header .title,
.btn-large {
  font-size: 18px;
}

@media (min-width: 240px) and (max-width: 720px) {
  .text-large,
  .list-title,
  .forum-stats ul li,
  .profile-card .user-website,
  .activity-list .activity .activity-header .title,
  .btn-large {
    font-size: 17px;
  }
}

.text-xlarge,
.btn-xlarge {
  font-size: 22px;
}

@media (min-width: 240px) and (max-width: 720px) {
  .text-xlarge,
  .btn-xlarge {
    font-size: 20px;
  }
}

.text-bold,
.activity-list .activity .activity-header .title {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.text-line-through {
  text-decoration: line-through;
}

.text-center,
.profile-card .stats span,
.profile-card .user-website {
  text-align: center;
}

.text-left,
.activity-list .activity .activity-header .title {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

ul {
  margin: 0;
  padding: 0;
}

@media (min-width: 240px) and (max-width: 720px) {
  .navbar-item a,
  .navbar-mobile-item a {
    padding: 10px 0;
  }
}

.navbar-item a:hover,
.navbar-mobile-item a:hover {
  color: #57ad8d;
}

.navbar-item a:active,
.navbar-mobile-item a:active {
  color: #57ad8d;
}

.signs .navbar-item,
.signs .navbar-mobile-item {
  border-right: none;
}

.a-active {
  color: #57ad8d;
}

.icon-profile {
  width: 10px;
  height: 8px;
}

.navbar-user {
  margin-left: auto;
}

.navbar-user a {
  display: flex;
  align-items: center;

  color: white;
}

.navbar-user a:hover .icon-profile {
  transition: all .4s ease;
  transform: rotate(-180deg);
}

.navbar-user img {
  margin-right: 10px;
}

.title {
  font-size: 38px;

  text-align: center;
}

@media (min-width: 1360px) {
  .title {
    font-size: 46px;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .title {
    font-size: 32px;
  }
}

@media (min-width: 720px) and (max-width: 820px) {
  .title {
    font-size: 30px;
  }
}

@media (min-width: 240px) and (max-width: 720px) {
  .title {
    font-size: 30px;
  }
}

.title-white {
  color: white;
}

.title-banner {
  text-transform: uppercase;

  color: white;
}

.subtitle {
  font-size: 26px;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .subtitle {
    font-size: 22px;
  }
}

@media (min-width: 240px) and (max-width: 720px) {
  .subtitle {
    font-size: 20px;
  }
}

@media (min-width: 240px) and (max-width: 400px) {
  .subtitle {
    font-size: 18px;
  }
}

#user-dropdown {
  position: absolute;
  z-index: 6;
  top: 50px;

  display: none;
}

@media (min-width: 240px) and (max-width: 720px) {
  #user-dropdown {
    position: relative;
    z-index: 10;
    top: 98px;
    right: 0;

    width: 100%;
  }
}

#user-dropdown.active-drop {
  display: block;
}

.active-drop {
  display: block;
}

.dropdown-menu,
#user-dropdown > .dropdown-menu {
  position: relative;

  display: block;

  padding: 20px;

  background: white;
}

.dropdown-menu-item,
#user-dropdown > .dropdown-menu > .dropdown-menu-item {
  margin-bottom: 5px;
}

.dropdown-menu-item a,
#user-dropdown > .dropdown-menu > .dropdown-menu-item a {
  font-size: 16px;

  display: block;

  transition: all ease .6s;

  color: #57ad8d;
}

.dropdown-menu-item a:hover,
#user-dropdown > .dropdown-menu > .dropdown-menu-item a:hover {
  color: #41826a;
}

.triangle-drop {
  position: relative;
  bottom: -8px;
  left: 70%;

  display: inline-block;

  margin: 0;

  vertical-align: middle;

  border-right: solid 8px transparent;
  border-bottom: solid 8px white;
  border-left: solid 8px transparent;
}

@media (min-width: 240px) and (max-width: 720px) {
  .triangle-drop {
    left: 5%;
  }
}

#user-dropdown a {
  transition: all .6s ease;
  text-decoration: none;

  color: #57ad8d;
}

#user-dropdown a:hover {
  cursor: pointer;

  color: #41826a;
}

#user-dropdown ul {
  display: block;
}

.mentionsList {
  position: absolute;
  z-index: 2;

  width: 160px;

  color: white;
  background-color: #263959;
  box-shadow: 2px 2px 1px rgba(136, 136, 136, .09);
}

.mentionsList li {
  display: flex;
  align-items: center;

  padding: 6px;
}

.mentionsList li img {
  margin-right: 2px;
}

.mentionsList li:hover {
  cursor: pointer;

  background-color: #57ad8d;
}

.mentionsList li:not(:last-of-type) {
  margin-bottom: 3px;
}

.mentionsList::before {
  position: absolute;
  top: -8px;
  left: 52px;

  display: inline-block;

  content: '';

  border-right: solid 8px transparent;
  border-bottom: solid 8px #263959;
  border-left: solid 8px transparent;
}

.mentionsList .arrow-up {
  width: 0;
  height: 0;

  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  border-left: 5px solid transparent;
}

input {
  box-shadow: none;
}

form {
  margin: 0;
}

.form-input {
  font: inherit;

  box-sizing: border-box;
  width: 100%;
  min-height: 43px;
  padding: 5px 10px;

  transition: all .3s ease;

  color: #505050;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fdfdfd;
}

.form-input:disabled {
  cursor: no-drop;

  color: #bbb;
  background: #f5f8fe;
}

.form-input:disabled::placeholder {
  color: #bbb;
}

.form-input::placeholder {
  font-size: inherit;
  font-weight: 300;

  color: #878787;
}

.form-input:focus {
  color: #434343;
  border: 1px solid #c7c7c7;
  outline: none;
  background-color: white;
}

.form-input:invalid {
  border-color: #c82543;
}

.form-input:invalid ~ .form-error {
  display: block;
}

@media (min-width: 240px) and (max-width: 400px) {
  .form-input {
    height: 50px;
    padding-left: 10px;
  }
}

textarea.form-input {
  min-height: 110px;
  padding-top: 7px;
  padding-right: 2px;
  padding-bottom: 0;
}

.input-error {
  border-color: #c82543;
}

.input-error ~ .form-error {
  display: block;
}

.form-error {
  font-size: .8em;

  float: left;

  margin-top: 10px;
  padding: 6px 20px;

  color: #c82543;
  border-radius: 100px;
  background: #f4d3d9;
}

@media (min-width: 240px) and (max-width: 400px) {
  .form-error {
    width: 100%;
  }
}

.form-group {
  display: inline-block;

  width: 100%;
  margin-bottom: 12px;
}

.form-label,
.form-group > label {
  display: inline-block;

  margin-bottom: 5px;

  color: #767676;
}

.form-label-password,
.form-group > label-password {
  margin-bottom: 0;
}

@media (min-width: 240px) and (max-width: 720px) {
  .form-btn {
    width: 100%;
  }
}

input[type='submit'],
button {
  font-size: 18px;

  cursor: pointer;

  -webkit-appearance: none;
}

button {
  -webkit-appearance: none;
}

button a {
  color: white;
}

.form-2cols {
  display: flex;
  flex-wrap: wrap;
}

.form-2cols .form-group {
  flex-basis: 47%;
}

.form-2cols .form-group:nth-child(odd) {
  margin-right: 10px;
}

@media (min-width: 240px) and (max-width: 720px) {
  .form-2cols .form-group {
    flex-basis: 100%;

    margin-right: 0;
  }
}

button {
  border: none;
  background: transparent;

  appearance: none;
}

.btn,
.btn-blue,
.btn-blue-outlined,
.btn-brown,
.btn-brown-outlined,
.btn-green,
.btn-green-outlined,
.btn-red,
.btn-red-outlined,
.btn-ghost {
  display: inline-block;

  padding: 15px 30px;

  transition: all .4s ease;

  border: none;
  border-radius: 5px;
  outline: 0;
}

@media (min-width: 240px) and (max-width: 720px) {
  .btn,
  .btn-blue,
  .btn-blue-outlined,
  .btn-brown,
  .btn-brown-outlined,
  .btn-green,
  .btn-green-outlined,
  .btn-red,
  .btn-red-outlined,
  .btn-ghost {
    padding: 10px 20px;
  }
}

.btn:disabled,
.btn-blue:disabled,
.btn-blue-outlined:disabled,
.btn-brown:disabled,
.btn-brown-outlined:disabled,
.btn-green:disabled,
.btn-green-outlined:disabled,
.btn-red:disabled,
.btn-red-outlined:disabled,
.btn-ghost:disabled,
.btn-disabled {
  cursor: default;
}

.btn:disabled:hover,
.btn-blue:disabled:hover,
.btn-blue-outlined:disabled:hover,
.btn-brown:disabled:hover,
.btn-brown-outlined:disabled:hover,
.btn-green:disabled:hover,
.btn-green-outlined:disabled:hover,
.btn-red:disabled:hover,
.btn-red-outlined:disabled:hover,
.btn-ghost:disabled:hover,
.btn-disabled:hover {
  cursor: default;

  color: white;
}

.btn-block {
  width: 100%;
}

.btn-xsmall {
  padding: 6px 15px;
}

.btn-small {
  padding: 10px 20px;
}

.btn-large {
  padding: 20px 40px;
}

.btn-xlarge {
  padding: 20px 60px;
}

.btn-circle {
  font-size: 36px;

  display: flex;
  align-content: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  padding: 0;

  transition: all ease .4s;

  color: white;
  border-radius: 50%;
  background: #c82543;
}

.btn-circle:hover {
  background: #b4213c;
}

.btn-circle:hover .icon-arrow-up {
  transition: all ease .4s;
  transform: translateY(-2px);
}

.btn-circle:hover .icon-arrow {
  transition: all ease .4s;
  transform: translateX(2px);
}

.btn-circle:hover .icon-arrow-left {
  transition: all ease .4s;
  transform: translateX(-2px) rotate(180deg);
}

.btn-circle-default {
  background: #878787;
}

.btn-circle-default:hover {
  background: #4c4c4c;
}

@media (min-width: 240px) and (max-width: 720px) {
  .btn-circle {
    width: 45px;
    height: 45px;
    padding-top: 14px;
  }
}

.btn-blue {
  color: white;
  background: #263959;
}

.btn-blue:hover:not(:disabled):not(.btn-disabled) {
  color: white;
  background: #1d2b43;
}

.btn-blue-outlined {
  color: #263959;
  box-shadow: inset 0 0 0 1.6px #263959;
}

.btn-blue-outlined:hover {
  color: white;
  background: #263959;
}

.btn-brown {
  color: white;
  background: #bf9268;
}

.btn-brown:hover:not(:disabled):not(.btn-disabled) {
  color: white;
  background: #8f6e4e;
}

.btn-brown-outlined {
  color: #bf9268;
  box-shadow: inset 0 0 0 1.6px #bf9268;
}

.btn-brown-outlined:hover {
  color: white;
  background: #bf9268;
}

.btn-green {
  color: white;
  background: #57ad8d;
}

.btn-green:hover:not(:disabled):not(.btn-disabled) {
  color: white;
  background: #4e9c7f;
}

.btn-green-outlined {
  color: #57ad8d;
  box-shadow: inset 0 0 0 1.6px #57ad8d;
}

.btn-green-outlined:hover {
  color: white;
  background: #57ad8d;
}

.btn-red {
  color: white;
  background: #c82543;
}

.btn-red:hover:not(:disabled):not(.btn-disabled) {
  color: white;
  background: #b4213c;
}

.btn-red-outlined {
  color: #c82543;
  box-shadow: inset 0 0 0 1.6px #c82543;
}

.btn-red-outlined:hover {
  color: white;
  background: #c82543;
}

.btn-green {
  color: white;
  background: #57ad8d;
}

.btn-green:hover:not(:disabled):not(.btn-disabled) {
  color: white;
  background: #4e9c7f;
}

.btn-red {
  color: white;
  background: #c82543;
}

.btn-red:hover:not(:disabled):not(.btn-disabled) {
  color: white;
  background: #b4213c;
}

.btn-ghost {
  flex-grow: 0;
}

.btn-ghost:hover:not(:disabled):not(.btn-disabled) {
  color: white;
  background-color: rgba(152, 152, 152, .31);
}

.btn-up {
  width: 40px;
  height: 40px;
  padding-top: 10px;

  text-align: center;
}

.btn-input {
  font-family: 'Open sans', sans-serif;
  font-size: 18px;
  line-height: 48px;

  position: absolute;
  z-index: 10;
  top: 4px;
  right: 4px;

  height: 52px;
  padding: 0 25px;

  cursor: pointer;
  transition: background .15s ease;

  color: #fff;
  border: none;
}

@media (min-width: 240px) and (max-width: 720px) {
  .btn-input {
    position: static;

    width: 100%;
    margin-top: 10px;
  }
}

.btn-social {
  margin-right: 6px;
}

.btn-social svg {
  width: 40px;
  height: 40px;

  transition: all ease .6s;
  transform: rotate(0);
}

.btn-social svg:hover {
  transform: rotate(-40deg);
}

.icon-arrow-up {
  width: 12px;
  height: 18px;

  transform: translate(0, 0);
}

.icon-arrow {
  width: 28px;
  height: 21px;

  transform: translate(0, 0);
}

@media (min-width: 240px) and (max-width: 720px) {
  .icon-arrow {
    width: 21px;
    height: 14px;
  }
}

.icon-arrow-left {
  width: 28px;
  height: 21px;

  transform: translate(0, 0);
  transform: rotate(180deg);
}

@media (min-width: 240px) and (max-width: 720px) {
  .icon-arrow-left {
    width: 21px;
    height: 14px;
  }
}

.link {
  transition: all ease .4s;
  text-decoration: underline;

  color: #57ad8d;
}

.link:hover {
  color: #468a71;
}

button {
  outline: 0;
}

.form-actions,
.btn-group {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;

  margin-top: 10px;
  margin-bottom: 10px;
}

.form-actions > *:not(:last-child),
.btn-group > *:not(:last-child) {
  margin-right: 10px;
}

@media (min-width: 240px) and (max-width: 720px) {
  .form-actions,
  .btn-group {
    flex-wrap: wrap;
  }

  .form-actions > *:not(.btn-ghost),
  .btn-group > *:not(.btn-ghost) {
    flex: 1 1;

    margin-bottom: 5px;
  }
}

.space-between {
  justify-content: space-between;
}

.alert {
  font-size: .9rem;

  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 5px;
  padding: 10px 20px;

  opacity: .8;
  color: white;
}

.alert-error {
  background: #c82543;
}

.alert-success {
  background: #57ad8d;
}

.alert-info {
  background: #51617a;
}

@media (min-width: 240px) and (max-width: 720px) {
  .alert {
    padding: 10px;
  }
}

.close {
  color: white;
  border: none;
  background: transparent;
}

@media (min-width: 240px) and (max-width: 720px) {
  .close {
    align-self: flex-start;

    margin-top: 4px;
  }
}

.close-icon {
  width: 12px;
  height: 12px;

  stroke: #fff;
}

.avatar {
  width: 50px;
  max-width: 50px;
  height: 50px;
  max-height: 50px;
}

.avatar-xsmall {
  width: 25px;
  max-width: 25px;
  height: 25px;
  max-height: 25px;
}

.avatar-small {
  width: 35px;
  max-width: 35px;
  height: 35px;
  max-height: 35px;
}

.avatar-medium {
  width: 35px;
  max-width: 35px;
  height: 35px;
  max-height: 35px;
}

.avatar-large {
  width: 95px;
  max-width: 95px;
  height: 95px;
  max-height: 95px;
}

.avatar-xlarge {
  width: 200px;
  max-width: 200px;
  height: 200px;
  max-height: 200px;
}

.card {
  margin-top: 20px;

  background: white;
}

@media (min-width: 240px) and (max-width: 720px) {
  .card {
    margin-bottom: 20px;
  }
}

.card-form {
  position: relative;
  z-index: 1;

  margin-top: 40px;
  padding: 40px 60px;
}

@media (min-width: 1360px) {
  .card-form {
    padding: 60px;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .card-form {
    padding: 40px;
  }
}

@media (min-width: 240px) and (max-width: 720px) {
  .card-form {
    margin-top: 10px;
    padding: 40px 20px;
  }
}

.striped {
  background: white;
  box-shadow: 1px 1px 1px #f1f1f1;
}

.striped li {
  padding: 10px 5px 10px 12px;

  box-shadow: 0 1px rgba(73, 89, 96, .06);
}

.striped li:nth-child(even) {
  background: rgba(73, 89, 96, .06);
}

.sidebar {
  display: none;
}

@media (min-width: 1024px) {
  .sidebar {
    display: flex;
    flex-basis: 29%;
    flex-direction: column;

    margin: 0 .5%;
    margin-top: 118px;
  }

  .sidebar .widget {
    margin-bottom: 10px;

    background: white;
  }
}

.sidebar ul > li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sidebar ul > li > span {
  flex-basis: 85%;
}

.sidebar .unanswered-threads-list {
  margin-top: 10px;
}

ul.breadcrumbs {
  font-size: 0;

  overflow: auto;

  list-style: none;
}

ul.breadcrumbs li {
  font-weight: 100;

  display: inline-block;

  padding: 5px 0;
}

ul.breadcrumbs li:not(:last-of-type)::after {
  font-family: FontAwesome;

  margin: 0 4px;

  content: '\f105';

  opacity: .6;
}

ul.breadcrumbs li a {
  text-decoration: none;

  opacity: .7;
  color: #57ad8d;
}

ul.breadcrumbs li a:hover {
  opacity: 1;
}

#moderation {
  display: flex;
}

#moderation.justify-right {
  margin-right: 20px;
}

@media (min-width: 240px) and (max-width: 720px) {
  #moderation.justify-right {
    margin: 0;
  }
}

#moderation ul.toolbar {
  position: fixed;
  z-index: 99;
  bottom: 20px;

  display: flex;
  flex-wrap: wrap;

  padding: 0 5px;

  border-radius: 5px;
  background-color: #313131;
  box-shadow: 0 0 300px #adadad;
}

#moderation ul.toolbar li {
  margin: 10px 0;
}

#moderation ul.toolbar li.close-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
}

#moderation ul.toolbar li.close-toolbar .fa {
  font-size: 30px;
}

#moderation ul.toolbar li.close-toolbar a {
  padding: 0 10px;
}

#moderation ul.toolbar.open-toolbar {
  display: none;
}

#moderation ul.toolbar:not(:last-of-type) {
  border-right: 1px solid rgba(255, 255, 255, .3);
}

#moderation ul.toolbar a {
  line-height: 1.5;

  display: inline-block;

  padding: 5px 20px 5px 10px;

  color: white;
}

#moderation ul.toolbar a:hover .fa {
  opacity: 1;
}

#moderation ul.toolbar a .fa {
  margin: 0 8px;

  opacity: .5;
}

#moderation ul.toolbar a:focus {
  outline: none;
}

@media (min-width: 240px) and (max-width: 720px) {
  #moderation ul.toolbar {
    position: fixed;
    bottom: 0;

    width: 100%;
    margin: 0;
    padding: 0;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  #moderation ul.toolbar li {
    flex-basis: 100%;

    margin: 0;

    text-align: center;

    border-right: none !important;
  }

  #moderation ul.toolbar li a {
    font-size: 18px;

    display: block;

    padding: 7px 0;

    border: none;
  }

  #moderation ul.toolbar li.close-toolbar .fa::before {
    font-family: FontAwesome;

    content: '\f107';
  }
}

#moderation ul.toolbar-collapsed {
  opacity: .6;
}

#moderation ul.toolbar-collapsed:hover {
  opacity: 1;
}

#moderation ul.toolbar-collapsed li,
#moderation ul.toolbar-collapsed li.close-toolbar {
  display: none;
}

#moderation ul.toolbar-collapsed li.open-toolbar {
  display: inline-block;

  border: none;
}

#moderation ul.toolbar-collapsed li.open-toolbar a {
  padding: 0 10px 0 0;
}

@media (min-width: 240px) and (max-width: 720px) {
  #moderation ul.toolbar-collapsed {
    border-radius: 0;
  }

  #moderation ul.toolbar-collapsed li.open-toolbar {
    display: inline-block;

    border: none;
  }

  #moderation ul.toolbar-collapsed li.open-toolbar a {
    font-size: 0;
    line-height: .95;

    padding: 0;
  }

  #moderation ul.toolbar-collapsed li.open-toolbar a .fa {
    margin: 0;
  }

  #moderation ul.toolbar-collapsed li.open-toolbar a::before {
    font-family: FontAwesome;
    font-size: 30px;

    content: '\f106';
  }
}

@media (min-width: 240px) and (max-width: 720px) {
  body {
    padding-bottom: 20px;
  }
}

.modal-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, .4);
}

.modal-container .modal {
  position: fixed;
  z-index: 200;
  top: 10vh;

  display: flex;
  flex-wrap: wrap;

  width: 50vw;
  max-width: 550px;
  min-height: 25vh;

  border-radius: 8px;
  background: #f5f8fe;
  background: #fcfdff;
  background-color: white;
}

@media screen and (min-width: 240px) and (max-width: 900px) {
  .modal-container .modal {
    top: 5vh;

    width: 95vw;
    min-height: 40vh;
  }
}

.modal-container .modal hr {
  margin: 5px;
}

.modal-container .modal .btn-group {
  margin: 0;
  padding: 0;
}

.modal-container .modal .modal-header,
.modal-container .modal .modal-footer {
  flex-basis: 100%;

  padding: 15px;
}

.modal-container .modal .modal-header {
  border-bottom: 3px solid rgba(73, 89, 96, .06);
}

.modal-container .modal .modal-header .title {
  font-size: 32px;
}

.modal-container .modal .modal-content {
  min-height: 200px;
  padding: 10px 30px;
}

.modal-container .modal .modal-footer {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background: rgba(73, 89, 96, .06);
}

a.close {
  font-size: 22px;

  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;

  opacity: .7;
  color: #263959;
}

a.close:hover {
  opacity: 1;
  color: #263959;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  overflow-x: hidden;

  box-sizing: border-box;

  color: #545454;
}

@media (min-width: 240px) and (max-width: 720px) {
  body {
    font-size: 15px;
  }
}

body a {
  transition: all .6s ease;
  text-decoration: none;

  color: #57ad8d;
}

body a:hover {
  cursor: pointer;

  color: #41826a;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;

  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;

  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 1360px) {
  .flex-column {
    max-width: 1300px;
  }
}

.flex-grid {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1360px) {
  .flex-grid {
    max-width: 1300px;
  }
}

.flex-reverse {
  flex-direction: row-reverse;
}

.align-center {
  align-items: center;
}

.col {
  margin: 0 1%;
}

@media (min-width: 240px) and (max-width: 720px) {
  .col {
    margin: 0 4%;
  }
}

.col-70 {
  flex-basis: 70%;

  margin: 0 auto;
}

@media (min-width: 1360px) {
  .col-70 {
    flex-basis: 70%;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .col-70 {
    flex-basis: 80%;
  }
}

@media (min-width: 240px) and (max-width: 720px) {
  .col-70 {
    flex-basis: 96%;

    margin: 0 4%;
  }
}

.col-2 {
  flex-basis: 48%;

  box-sizing: border-box;
}

@media (min-width: 240px) and (max-width: 720px) {
  .col-2 {
    flex-basis: 96%;
  }
}

.col-3 {
  flex-basis: 31%;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .col-3 {
    flex-basis: 96%;

    margin: 4% 2%;
  }
}

@media (min-width: 240px) and (max-width: 720px) {
  .col-3 {
    flex-basis: 96%;

    margin: 4% 4%;
  }
}

.col-4 {
  flex-basis: 23%;
}

@media (min-width: 240px) and (max-width: 720px) {
  .col-4 {
    flex-basis: 46%;
  }
}

.col-5 {
  flex-basis: 18%;
}

@media (min-width: 240px) and (max-width: 720px) {
  .col-5 {
    flex-basis: 46%;
  }
}

.col-7 {
  flex-basis: 68%;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .col-7 {
    flex-basis: 96%;

    margin: 4% 2%;
  }
}

@media (min-width: 240px) and (max-width: 720px) {
  .col-7 {
    flex-basis: 96%;

    margin: 4% 4%;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  margin: 80px auto 0;
}

@media (min-width: 240px) and (max-width: 720px) {
  .container {
    width: 96%;
    margin-top: 60px;
  }
}

.col-full {
  flex-basis: 98%;

  margin: 0 1%;
}

@media (max-width: 820px) {
  .col-full {
    flex-basis: 98%;

    margin: 0 1%;
  }
}

.col-large {
  flex-basis: 72%;

  margin: 0 1%;
}

@media (max-width: 1024px) {
  .col-large {
    flex-basis: 98%;

    margin: 0 1%;
  }
}

.col-small {
  flex-basis: 24%;

  margin: 0 1%;
}

@media (min-width: 240px) and (max-width: 720px) {
  .col-small {
    flex-basis: 98%;

    margin: 0 1%;
  }
}

.align-center {
  align-items: center;
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: flex-start;
}

.justify-right {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

@media (max-width: 820px) {
  .desktop-only,
  .forum-list .forum-listing .threads-count,
  .forum-list .forum-listing .last-thread,
  .forum-stats,
  .thread-list .thread .activity,
  .navbar-user {
    display: none;
  }
}

@media (max-width: 720px) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 720px) and (max-width: 820px) {
  .hide-tablet {
    display: none;
  }
}

@media (max-width: 720px) {
  .hide-desktop {
    display: none;
  }
}

section {
  margin-top: 20px;
}

.push-top {
  margin-top: 20px;
}

.no-margin {
  margin: 0 !important;
}

.link-white {
  color: white;
}

.link-unstyled,
ul.breadcrumbs li a {
  color: inherit;
}

.faded,
.btn:disabled,
.btn-blue:disabled,
.btn-blue-outlined:disabled,
.btn-brown:disabled,
.btn-brown-outlined:disabled,
.btn-green:disabled,
.btn-green-outlined:disabled,
.btn-red:disabled,
.btn-red-outlined:disabled,
.btn-ghost:disabled,
.btn-disabled,
a > img:hover {
  opacity: .8;
}

a > img {
  transition: all .6s ease;
}

hr {
  height: 1px;
  margin-bottom: 20px;

  border: 0;
  background: #333;
  background-image: linear-gradient(to right, #f7f9fe, #d1d3d7, #f7f9fe);
}

.fa-btn {
  padding-right: 3px;
}

#app {
  min-height: 100vh;

  background: #f5f8fe;
}
